@model ChallengesViewModel
@using static ArtfulAdventures.Common.GeneralApplicationConstants.Roles

@{
    ViewBag.Title = "Challenges";
}

@{
    int currentPage = ViewBag.CurrentPage ?? 1;
    int previousPage = currentPage > 1 ? currentPage - 1 : 1;
    int nextPage = currentPage + 1;
}
@{
    if (TempData["AdminCreateChallenge"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["AdminCreateChallenge"]
        </div>
    }
}
@if(TempData["ErrorNotFound"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorNotFound"]
    </div>
}
@if(TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<h1 class="text-center">Challenge</h1>

<hr style="margin-top: 50px; margin-bottom:50px;" />
<div class="container mb-4 mt-4">
    <div class="row">
        @foreach (var item in Model.Challenges)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <a href="@Url.Action("ChallengeDetails", "Challenge", new { id = item.Id} )">
                            <style>
                                .card-img-top {
                                    height: 200px;
                                    width: 100%;
                                    object-fit: cover;
                                }

                            </style>
                            @if (!String.IsNullOrEmpty(item.PictureUrl))
                            {
                                <img class="card-img-top" src="~/images/@item.PictureUrl" alt="no-photo">
                            }
                            else
                            {
                                <img class="card-img-top" src="~/local/challenge-default.jpg" alt="no-photo">
                            }
                        </a>
                        <ul class="list-inline mt-3">
                            <li class="list-inline-item">
                                <a href="@Url.Action("Profile", "UserProfile", new { username = item.Creator })" style="color:deepskyblue">
                                    <i class="fas fa-user"></i> By @item.Creator
                                </a>
                            </li>

                            <li class="list-inline-item text-purple"><i class="far fa-clock text-purple"></i> @item.CreatedOn</li>
                        </ul>
                        <hr>
                        <style>
                            h5, p.lead {
                                line-height: 1.5;
                                height: 6em;
                            }
                        </style>
                        <h5 class="text-purple" style="text-decoration:underline;">@item.Title</h5>
                        <h6 class="card-text" style="color:#2f9ce7">Challenge #@item.Id</h6>
                        <p class="card-text text-purple"><i class="fas fa-trophy">  Participants:</i> (@item.Participants)<p />

                        <div style="display: flex;justify-content:center;">
                            <a class="btn btn-outline-dark my-2 blog-button-white" href="@Url.Action("ChallengeDetails", "Challenge", new { id = item.Id} )" role="button" style="color:wheat">Participate</a>
                                @if (User!.IsInRole(Administrator))
                                {
                                <form method="post" asp-area="Admin" asp-controller="ManageContent" asp-action="DeleteChallenge" asp-route-challengeId="@item.Id">
                                    <button type="submit" class="btn btn-outline-dark my-2 delete-blog-button-red" style="color:wheat;">Delete</button>
                                </form>
                                }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<nav aria-label="Page navigation example" style="margin-right: 0.5rem;">
    <ul class="pagination justify-content-end">
        @if (currentPage > 1)
        {
            <li class="page-item"><a class="page-link" href="@Url.Action("GetAll", "Challenge", new { page = previousPage})">Previous</a></li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        }
        <li class="page-item"><a class="page-link" href="@Url.Action("GetAll", "Challenge", new { page = currentPage })">@currentPage</a></li>
        <li class="page-item"><a class="page-link" href="@Url.Action("GetAll", "Challenge", new { page = currentPage + 1 })">@(currentPage + 1)</a></li>
        <li class="page-item"><a class="page-link" href="@Url.Action("GetAll", "Challenge", new { page = currentPage + 2})">@(currentPage + 2)</a></li>
        <li class="page-item">
            <a class="page-link" href="@Url.Action("GetAll", "Challenge", new { page = nextPage})">Next</a>
        </li>
    </ul>
</nav>

<style>
    .page-item {
        border: none;
        border-bottom: 1px solid #ccc;
        background-color: #272e48;
        color: wheat;
        font-size: 1rem;
        padding: 0.3rem;
        margin-left: 0.3rem;
    }

        .page-item.disabled a.page-link {
            color: wheat;
            background-color: #272e48;
            opacity: 0.5;
        }


        .page-item a {
            color: wheat;
            background-color: #272e48;
        }

            .page-item a:focus {
                outline: none;
            }

    .text-purple {
        color: #bcd0f7;
    }
</style>